<section class="contact">
	<div class="container">
		<div class="form-box">
			<h2 class="form-title">Questions? Inquiries? <span>Give me a shout.</span></h2>
			<form action="/">
				<div class="input-group">
					<div class="input">
						<input type="text" placeholder="First" required />				
					</div>
					<div class="input">
						<input type="text" placeholder="Last" required />
					</div>
					<div class="input">
						<input type="text" placeholder="Company" />
					</div>
					<div class="input">
						<input type="text" placeholder="Title" />
					</div>
					<div class="input">
						<input type="email" placeholder="Email" required />
					</div>
					<div class="input">
						<input type="tel" placeholder="Phone" />
					</div>
					<div class="textarea">
						<textarea placeholder="What's on your mind?"></textarea>
					</div>
				</div>
				<button type="submit">Submit</button>			
			</form>
		</div>
	</div>
</section>