<section class="portfolio">
	{% assign portfolio_sorted = site.portfolio | sort: 'order' %}
	{% for item in portfolio_sorted %}

		<article class="portfolio-item{% if item.dark_content %} light-text{% endif %} will-change {{ item.slug }}" style="background: linear-gradient({{ item.gradient }});">
			<style>
				.{{ item.slug }} .bx-prev,
				.{{ item.slug }} .bx-next {
					color: {{ item.colors.first }};
				}
				.{{ item.slug }} .bx-prev:hover,
				.{{ item.slug }} .bx-next:hover {
					color: {{ item.colors[1] }};
				}
			</style>

			<div class="background portfolio-background">
				{% assign src = 'background-' | prepend: site.imgpath | prepend: site.cdnurl | append: item.slug | append: '.jpg' %}
				<div class="background-inner" data-src="{{ src }}"></div>
			</div>
			<div class="portfolio-content">
				<div class="container">
					<div class="row">
						<div class="image-content">
							<div class="logo">
								{% include lazy-image.html src = item.image_url height = '' width = '' alt = item.title class = 'will-appear' %}
							</div>
						</div>
						<div class="text-content will-appear">
							{{ item.content }}
						</div>
					</div>

					{% if item.gallery != null %}
						<div class="carousel-content">
							<div class="row">
								<div class="navigation">
									<div class="carousel-prev"></div>
									<div class="carousel-next"></div>
								</div>
								<div class="carousel-wrap">
									<div class="carousel">
										{% for image in item.gallery %}
											<div class="slide">
												<div class="inner will-appear">
													{% include lazy-image.html src = image height = '' width = '' alt = '' %}
												</div>
											</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					{% endif %}
				</div>
			</div>
		</article>

	{% endfor %}
</section>