<section class="heroic will-change">
	<div class="background heroic-background">
		<div class="background-inner" data-src="/assets/images/background-heroic.png"></div>
	</div>
	<div class="section-content">
		<p class="email">
			<a href="mailto:pili@monicadelpilar.com">pili<span>@</span>monicadelpilar.com</a>
		</p>
		<ul class="social-links">
	        {% for item in site.data.social %}
	            <li><a href="#{{ item.url }}">
	            	<span class="screen-reader-text">{{ item.network }}</span>
	            	<i class="fa fa-{{ item.network }}"></i>
	            </a></li>
	        {% endfor %}
	    </ul>
	    <div class="btn-wrap">
			<a href="#resume" class="btn btn-large btn-white btn-gradient">
				<div class="overlay">
					<span class="top"></span>
					<span class="left"></span>
					<span class="right"></span>
					<span class="bottom"></span>
				</div>
				<span class="text">Resumé</span>
			</a>
		</div>
	</div>	
</section>