$btn-border-width: 	3px;

.btn {
	display: inline-block;
	padding: 0.25em 1.5em;
	border: $btn-border-width solid $border-color;
	font-family: $bebas-neue;
	line-height: 1;
}

.btn-white {
	border-color: $white;
	color: $white;
	@include font-smooth;
}

.btn-gradient {
	@include mdp-gradient;

	@include media-breakpoint-up(md) {
		position: relative;
		transition: all 0.3s ease-in-out;

		.overlay {
			position: absolute;
			top: -$btn-border-width;
			right: -$btn-border-width;
			bottom: -$btn-border-width;
			left: -$btn-border-width;

			.top, .right, .bottom, .left {
				position: absolute;
				background-color: $hot-pink;
				transition: transform 0.3s $ease-in-out-cube;
			}

			.top, .bottom {
				height: $btn-border-width + 1px;
				left: 0;
				right: 0;
				transform: scaleX(0);
				transform-origin: left center;
			}

			.right, .left {
				width: $btn-border-width + 1px;
				top: 0;
				bottom: 0;
				transform: scaleY(0);
				transform-origin: center top;
			}

			.top, .left {
				transition-delay: 0.2s;
			}

			.top {
				top: 0;
				@include mdp-gradient(to right);
			}

			.bottom {
				bottom: 0;
				@include mdp-gradient(to left);
			}

			.right {
				right: 0;
				@include mdp-gradient(to top);
			}

			.left {
				left: 0;
				@include mdp-gradient(to bottom);
			}
		}

		.text {
			position: relative;
		}

		&:before {
			content: '';
			background-color: $white;
			@include overlay;
			opacity: 0;
			transition: opacity 0.3s ease-in-out;
		}

		&:hover, &:active {
			color: $fuchsia;

			&:before {
				opacity: 1;
			}

			.top, .bottom, .right, .left {
				transform: none;
				transition-delay: 0s;
			}

			.bottom, .right {
				transition-delay: 0.2s;
			}
		}
	}
}

.btn-medium {
	font-size: $medium-text;
}

.btn-large {
	font-size: $large-text;
}



.bx-prev,
.bx-next {
	color: $white;
	position: absolute;
	text-indent: -9999px;

	&:before {
		font-family: $fa;
		font-size: 2em;
		position: absolute;
		text-indent: 0;
		top: 0;
		left: 0;
	}

	&:hover {
		color: lighten($hot-pink, 10%);
	}
}

.bx-prev:before {
	content: $arrow-left;
}

.bx-next:before {
	content: $arrow-right;
}
