body {
	overflow: hidden;

	.wrap {
		@include overlay;
	}
}

	.touch {
		body {
			overflow: auto;
		}

		.wrap {
			position: static;
		}
	}

a {
    transition: color 0.2s ease-in-out;

    &:hover, &:focus {
        outline: none;
    }

    &:hover {
        text-decoration: none;
    }
}

img {
    max-width: 100%;
    height: auto;
}

svg {
    display: block;
}

ol, ul {
    
}

hr {
    width: 100%;
}

:focus {
    outline: 0;
}

.screen-reader-text {
	position: absolute;
	clip: rect(0,0,0,0);
}

.background {
	@include overlay;
	opacity: 0.15;

	.background-inner {
		@include overlay;
		top: -15%;
		bottom: -15%;
		background-position: center;
		background-size: cover;
		opacity: 0;
		transition: opacity 0.3s ease-in 0.3s;

		&.loaded {
			opacity: 1;
		}
	}
}

@include media-breakpoint-up(md) {
	.will-appear {
		opacity: 0;
		transform: translate3d(0, 10vh, 1px);
		transition: opacity 1s, transform 1s $ease-out-custom;

		&.is-up {
			opacity: 1;
			transform: none;
			will-change: auto !important;
		}
	}
}

.lazy {
	opacity: 0 !important;

	&.loaded {
		opacity: 1 !important;
	}
}

.social-links {
	display: flex;
	list-style-type: none;
	padding: 0;

	li {
		margin-right: 0.75em;

		a {
			display: flex;
			width: 2em;
			height: 2em;
			background-color: $white;
			border-radius: 50%;
			align-items: center;
			justify-content: center;
			@include box-shadow;
			font-size: $large-text;
			color: $text-color;

			@include media-breakpoint-up(md) {
				transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;

				&:hover {
					background-color: $fuchsia;
					color: $white;
				}
			}
		}
	}
}

