// Custom fonts

@font-face {
    font-family: $bebas;
    src:url('../fonts/Bebas.ttf.woff') format('woff'),
        url('../fonts/Bebas.ttf.svg#Bebas') format('svg'),
        url('../fonts/Bebas.ttf.eot'),
        url('../fonts/Bebas.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $bebas-neue;
    src: url('../fonts/bebasneue_bold-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_bold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: $bebas-neue;
    src: url('../fonts/bebasneue_regular-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: $bebas-neue;
    src: url('../fonts/bebasneue_light-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;

}


// Styles

html {
	font-size: $font-size;
}

body {
	font-family: $body;
	font-size: 85%;
	line-height: $line-height;
	font-weight: 400;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	font-family: $heading;
	font-weight: 600;
	letter-spacing: 1px;
	line-height: $heading-line-height;
	margin: 0 0 1em;
}

h1, .h1 {
	font-size: $h1;
}

h2, .h2 {
	font-size: $h2;
}

h3, .h3 {
	font-size: $h3;
}

h4, .h4 {
	font-size: $h4;
}

h5, .h5 {
	font-size: $h5;
}

h6, .h6 {
	font-size: $h6;
}

p {
	font-size: $medium-text;
	margin: 0 0 1.5em;
}

.section-title {
    color: $text-color;
    line-height: 1.25;
}


//********************************************************************************************************************//
//     Media Queries 																							      //
//********************************************************************************************************************//

@media (min-width: 768px) {

	body {
		font-size: 90%;
	}

	h1, .h1 {
		font-size: 3em;
	}

}



@media (min-width: 1200px) {

	body {
		font-size: 100%;
	}

}
